td{
    height: 10px;
    width: 10px;
    border-radius: 3px;
}
body{
    background-color: #EEEEEE;
}
#score{
    height: 40px;
    width: 463px;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    background-color: #EEEEEE;
}
#plus{
    height: 20px;
    width: 463px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    background-color: #EEEEEE;
}